<div class="rectangle_1">
    <h3 class="rct1_top">Ветеринарный сервис</h3>
    <p class="rct1_bottom">Сервис поиска</p>
</div>

<div class="vector_1">
    <img class="cat" src="images/image_7.png">
    <div class="frame_132">
        <div class="f132_list_item">
            <div class="f132_list_item_top">
                <img class="f132_icon" height="27" src="images/Location.svg" width="23">
                <p class="f132_text_top" id="f132_location_text">Поиск врача рядом с вами</p>
            </div>
            <p class="gray_text">Просто укажите адрес и выбирайте</p>
        </div>
        <div class="f132_list_item">
            <div class="f132_list_item_top">
                <img class="f132_icon" height="24" src="images/Edit.svg" width="21">
                <p class="f132_text_top">Узнайте когда можно записаться к ветеринару</p>
            </div>
            <p class="gray_text">Без звонка в клинику с помощью актуального расписания</p>
        </div>
        <div class="f132_list_item">
            <div class="f132_list_item_top">
                <img class="f132_icon" height="27" src="images/Call.svg" width="27">
                <p class="f132_text_top">Проконсультируем по всем волнующим вопросам</p>
            </div>
            <p class="gray_text">Наши специалисты помогут разобраться с проблемой и проконсультируют</p>
        </div>
    </div>
    <img class="background_paw" height="56" id="background_paw_1" src="images/Group_120.svg" width="70">
    <img class="background_paw" height="90" id="background_paw_2" src="images/Group_119.svg" width="90">
</div>

<div class="rectangle_4">
    <div class="rct4_content">
        <h3 class="rct4_header">Не знаете что с вашим питомцем?</h3>
        <p class="rct4_gray_text">Наши специалисты помогут разобраться</p>
        <p class="rct4_text_bottom">Оставьте заявку на бесплатную консультацию <br> с нашими специалистами</p>
        <p class="rct4_messenger_selector_text">Выберите удобный для Вас мессенджер:</p>
        <div class="messenger_selector">
            <input type="radio" name="messenger" value="telegram">
            <img class="messenger_icon" src="images/Telegram_icon.png">
            <p class="messenger_name">Telegram</p>
            <input type="radio" name="messenger" value="whatsapp">
            <img class="messenger_icon" src="images/Whatsapp_icon.png">
            <p class="messenger_name">WhatsApp</p>
            <input type="radio" name="messenger" value="viber">
            <img class="messenger_icon" src="images/Viber_icon.png">
            <p class="messenger_name">Viber</p>
        </div>
        <form class="registration">
            <input class="reg_pole" id="reg_name" placeholder="Ваше имя" type="text">
            <input class="reg_pole" id="reg_tel" placeholder="Ваш номер телефона" type="tel">
            <input class="reg_pole" id="reg_submit" type="submit" value="Напишите мне">
        </form>
    </div>

    <img height="363" id="Dog" src="images/Dog.png" width="464">
    <form>
        <input id="rct4_close_button" src="images/close_icon.png" type="image">
    </form>

    <img class="background_paw" height="55" id="background_paw_3" src="images/Group_122.svg" width="55">
    <img class="background_paw" height="39" id="background_paw_4" src="images/Group_123.svg" width="49">
    <img class="background_paw" height="55" id="background_paw_5" src="images/Group_124.svg" width="55">
    <img class="background_paw" height="55" id="background_paw_6" src="images/Group_118.svg" width="55">
    <img class="background_paw" height="40" id="background_paw_7" src="images/Group_117.svg" width="40">
</div>

<div class="region_selector">
    <h1 class="region_selector_header">
        Каталог вет. клиник
    </h1>
    <div class="region_selector_bottom">
        <p>Район:</p>
        <div class="region_button">
        <input type="radio" name="region" autofocus id="region_button_1" value="Central">
        <label for="region_button_1">Центральный</label>
        </div>
        <div class="region_button">
        <input type="radio" name="region"  id="region_button_2" value="Avtozavodskoy">
        <label for="region_button_2">Автозаводской</label>
        </div>
        <div class="region_button">
        <input type="radio" name="region"  id="region_button_3" value="Komsomolskiy">
        <label for="region_button_3">Комсомольский</label>
        </div>
        <div class="region_button">
        <input type="radio" name="region"  id="region_button_4" value="Shlyzovoy">
        <label for="region_button_4">Шлюзовой</label>
        </div>
    </div>
</div>