{{#with data}}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ветеринарная клиника</title>
        <link href="styles/main.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    </head>
    <body class="modal_mobile">
<script src="scripts/index.js"></script>
<div class="reg_window_header">
  <p class="reg_window_header_upper">Не знаете, что с вашим питомцем?</p>
  <p class="reg_window_header_bottom">Наши специалисты помогут разобраться</p>
</div>
<div class="reg_window_main">
  <p>Выберите удобный для Вас мессенджер</p>
    <form class="mobile_registration">
        <div class="messenger_selector">
            <input type="radio" name="messenger" value="Telegram" required>
            <img class="messenger_icon" src="images/Telegram_icon.png">
            <p class="messenger_name">Telegram</p>
            <input type="radio" name="messenger" value="WhatsApp" required>
            <img class="messenger_icon" src="images/Whatsapp_icon.png">
            <p class="messenger_name">WhatsApp</p>
            <input type="radio" name="messenger" value="Viber" required>
            <img class="messenger_icon" src="images/Viber_icon.png">
            <p class="messenger_name">Viber</p>
        </div>
        <input class="reg_pole" id="reg_name" name="name" placeholder="Ваше имя" type="text" required>
        <input class="reg_pole" id="reg_tel" name="number" placeholder="Ваш номер телефона"
               pattern="8[0-9]{10}" type="tel" required>
        <input class="reg_pole" id="reg_submit" type="submit" value="Напишите мне">
    </form>
</div>
    </body>
{{/with}}